<!DOCTYPE html>
<html lang="es">

<%- include('../partials/head.ejs') %>

    <body>
        <!-- header para el administrador -->
        <%- include('../partials/headerAdmin') %>

            <main class="main-admin">
                <form action="/admin/products/edit/<%= product.id %>?_method=PUT " method="POST"
                    enctype="multipart/form-data">
                    <div class="cargaDeFotos">
                        <div class="volver">
                            <a href="/admin/products">
                                <i class="fas fa-arrow-left"></i>
                            </a>
                        </div>
                        <div class="subirFoto">
                            <div class="formAdmin">
                                <label for="productPhoto">
                                    <img src="/img/iconos-png/subirFoto.png" alt="" />
                                </label>
                                <input type="file" name="image" accept=".jpg, .png" multiple id="productPhoto" />
                            </div class="form">
                        </div>
                    </div>
                    <section class="charge">
                        <h2>Editar producto</h2>
                        <div class="freight">
                            <div class="formAdmin">
                                <div class="flex">
                                    <label for="name">Nombre del producto</label>
                                    <div class="input">
                                        <input type="text" value="<%= product.name %>" id="name" name="name" />
                                    </div>

                                    <label for="price">Precio del producto</label>
                                    <div class="input">
                                        <input type="number" min="0" value="<%= product.price %>" id="price"
                                            name="price" />
                                    </div>

                                    <label for="discount">Descuento del producto</label>
                                    <div class="input">
                                        <input type="number" min="0" value="<%= product.discount %>"id="discount" name="discount" />
                                    </div>

                                    <label for="brand">Marca</label>
                                    <div class="input">
                                        <input type="text" name="mark" id="brand" value="<%= product.mark %>" />
                                    </div>

                                    <label for="categoria-form">Categoría</label>
                                    <div class="input">
                                        <select name="category" id="categoria-form">
                                            <% categories.forEach(category=> { %>
                                                <option value="<%- category.id %>" <%=product.category==category.id
                                                    ? "selected" : null %>><%- category.name %>
                                                </option>
                                                <% }) %>
                                                    <!-- <option value="consolas">Consolas</option>
                                <option value="videojuegos">Videojuegos</option>
                                <option value="accesorios">Accesorios</option>
                                <option value="zonaRetro">Zona Retro</option> -->
                                        </select>
                                    </div>

                                    <label for="subCategoria-form">Subcategoría</label>
                                    <div class="input">
                                        <input list="subCategoria-form" name="subcategory" placeholder="Gamer" />
                                        <datalist id="subCategoria-form">
                                            <% subcategories.forEach(subcategory=> { %>
                                                <option value="<%- subcategory%>" <%=product.subcategory===subcategory
                                                    ? "selected" : null %> ><%- subcategory %>
                                                </option>
                                                <% }) %>
                                                    <!--  <option value="modernas">Modernas</option>
                                <option value="Retro">Retro</option>
                                <option value="Familiar">Familiar</option>
                                <option value="ps">Play Station</option>
                                <option value="nintendo">Nintendo</option> -->
                                        </datalist>
                                    </div>
                                </div>

                                <div class="flex">

                                    <label for="codigo">Código de producto</label>
                                    <div class="input">
                                        <input type="number" min="0" name="scanning" value="<%= product.scanning %>"
                                            id="codigo" />
                                    </div>

                                    <label for="stock">Stock</label>
                                    <div class="input">
                                        <input type="number" min="0" name="stock" value="<%= product.stock %>"
                                            id="stock" />
                                    </div>


                                    <label for="description">Descripción del producto</label>
                                    <div class="input">
                                        <textarea name="description" id="description" cols="30" rows="10"
                                            value="<%= product.description %>"></textarea>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="btn-publish">
                            <button class="publish" type="submit">Cancelar</button>
                            <button class="publish" type="submit">Guardar</button>
                        </div>
                    </section>
                </form>
            </main>
    </body>

</html>