<!DOCTYPE html>
<html lang="es">

<%- include('../partials/head.ejs') %>

    <body>
        <!-- header para el administrador -->
        <%- include('../partials/header') %>

            <main class="main-admin">
                <form action="/admin/products/create" method="POST" enctype="multipart/form-data">
                    <div class="cargaDeFotos">
                        <div class="volver">
                            <a href="/admin/products">
                                <i class="fas fa-arrow-left"></i>
                            </a>
                        </div>
                        <div class="subirFoto">
                            <div class="prevImage">
                                <img id="imagenPrevisualizacion">
                            </div>
                            <div class="inputFile">
                                <label for="seleccionArchivos">
                                    <img src="/img/iconos-png/subirFoto.png" alt="" />
                                </label>
                                <input type="file" name="image" accept=".jpg, .png" multiple id="seleccionArchivos"  value="<%= locals.old && old.image %>"/>

                            </div>
                        </div>
                    </div>
                    <section class="charge">
                        <h2>Agregar nuevo producto</h2>
                        <div class="freight">
                            <div class="formAdmin">
                                <div class="flex">
                                    <label for="name">Nombre del producto</label>
                                    <div class="input">
                                        <input type="text" placeholder="Computadora Gamer" id="name" name="name"
                                            value="<%= locals.old && old.name %>" />
                                        <% if (locals.errors && errors.name) { %>
                                            <small class="text-danger">
                                                <%= errors.name.msg %>
                                            </small>
                                            <% } %>
                                    </div>

                                    <label for="price">Precio del producto</label>
                                    <div class="input">
                                        <input type="number" min="0" placeholder="$00.00" id="price" name="price"
                                            value="<%= locals.old && old.price %>" />
                                        <% if (locals.errors && errors.price) { %>
                                            <small class="text-danger">
                                                <%= errors.price.msg %>
                                            </small>
                                            <% } %>
                                    </div>

                                    <label for="discount">Descuento del producto</label>
                                    <div class="input">
                                        <input type="number" min="0" placeholder="20" id="discount" name="discount"
                                            value="<%= locals.old && old.discount %>" />
                                    </div>

                                    <label for="mark">Marca</label>
                                    <div class="input">
                                        <input type="text" name="mark" id="mark" placeholder="Intel"
                                            value="<%= locals.old && old.mark %>" />
                                        <% if(locals.errors && errors.mark) { %>
                                            <small class="text-danger">
                                                <%= errors.mark.msg %>
                                            </small>
                                            <% } %>
                                    </div>


                                    <label for="mainFeatures">Características principales</label>
                                    <div class="input">
                                        <textarea name="mainFeatures" id="mainFeatures" cols="30" rows="10"
                                            placeholder="Lorem ipsum dolor, sit amet consectetur adipisicing elit. Exercitationem repudiandae nam accusamus sint eum praesentium, necessitatibus explicabo. Magnam, ab omnis."><%= locals.old && old.mainFeatures %></textarea>
                                        <% if(locals.errors && errors.mainFeatures) { %>
                                            <small class="text-danger">
                                                <%= errors.mainFeatures.msg %>
                                            </small>
                                            <% } %>
                                    </div>
                                </div>

                                <div class="flex">

                                    <label for="categoria-form">Categoría</label>
                                    <div class="input">
                                        <select name="category" id="categoria-form">
                                            <option value="" selected>Categorías</option>
                                            <% categories.forEach(category=> { %>
                                                <option value="<%- category.id %>" <%=locals.old &&
                                                    old.category==category.id ? "selected" : null %> ><%- category.name
                                                        %>
                                                </option>
                                                <% }) %>
                                                    <!-- <option value="videojuegos">Videojuegos</option>
                                            <option value="accesorios">Accesorios</option>
                                            <option value="zonaRetro">Zona Retro</option> -->
                                        </select>
                                        <% if(locals.errors && errors.category) { %>
                                            <small class="text-danger">
                                                <%= errors.category.msg %>
                                            </small>
                                            <% } %>
                                    </div>

                                    <label for="subCategoria-form">Subcategoría</label>
                                    <div class="input">
                                        <input list="subCategoria-form" name="subcategory" placeholder="Gamer" />
                                        <datalist id="subCategoria-form">
                                            <option value="modernas">Modernas</option>
                                            <option value="Retro">Retro</option>
                                            <option value="Familiar">Familiar</option>
                                            <option value="ps">Play Station</option>
                                            <option value="nintendo">Nintendo</option>
                                        </datalist>
                                        <% if(locals.errors && errors.subcategory) { %>
                                            <small class="text-danger">
                                                <%= errors.subcategory.msg %>
                                            </small>
                                            <% } %>
                                    </div>

                                    <label for="codigo">Código de producto</label>
                                    <div class="input">
                                        <input type="number" min="0" placeholder="0000" id="codigo" name="scanning"
                                            value="<%= locals.old && old.scanning %>" />
                                    </div>

                                    <label for="stock">Stock</label>
                                    <div class="input">
                                        <input type="number" min="0" placeholder="0" id="stock" name="stock"
                                            value="<%= locals.old && old.stock %>" />
                                    </div>


                                    <label for="description">Descripción del producto</label>
                                    <div class="input">
                                        <textarea name="description" id="description" cols="30" rows="10"
                                            placeholder="Lorem ipsum dolor, sit amet consectetur adipisicing elit. Exercitationem repudiandae nam accusamus sint eum praesentium, necessitatibus explicabo. Magnam, ab omnis."><%= locals.old && old.description %></textarea>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="btn-publish">
                            <button class="publish" type="submit">Publicar producto</button>
                        </div>

                    </section>
                </form>
            </main>
            <script src="/js/prevDeImg.js" defer></script>
    </body>

</html>