<!DOCTYPE html>
<html lang="es">

<%- include('../partials/head.ejs') %>

    <body>
        <!-- header para el administrador -->
        <%- include('../partials/headerAdmin') %>

            <main class="main-admin">
                <form action="/admin/products/edit/<%= product.id %>?_method=PUT " method="POST"
                    enctype="multipart/form-data">
                    <div class="cargaDeFotos">
                        <div class="volver">
                            <a href="/admin/products">
                                <i class="fas fa-arrow-left"></i>
                            </a>
                        </div>
                        <div class="subirFoto">
                            <div class="prevImage">
                                <% if (product.image && product.image.length > 0) { %>
                                    <img src="/img/<%= product.image %> " alt="" id="imagenPrevisualizacion">
                                    <% } else { %>
                                        <img id="imagenPrevisualizacion">
                                    <% } %>
                            </div>
                            <div class="inputFile">
                                <label for="seleccionArchivos">
                                    <img src="/img/iconos-png/subirFoto.png" alt="" />
                                </label>
                                <input type="file" name="image" accept=".jpg, .png" multiple id="seleccionArchivos" value="<%= locals.old ? old.image : product.image %>"/>

                            </div>
                        </div>
                    </div>
                    <section class="charge">
                        <h2>Editar producto</h2>
                        <div class="freight">
                            <div class="formAdmin">
                                <div class="flex">
                                    <label for="name">Nombre del producto</label>
                                    <div class="input">
                                        <input type="text" value="<%= locals.old ? old.name : product.name%>" id="name"
                                            name="name" />
                                        <% if (locals.errors && errors.name) { %>
                                            <small class="text-danger">
                                                <%= errors.name.msg %>
                                            </small>
                                            <% } %>
                                    </div>

                                    <label for="price">Precio del producto</label>
                                    <div class="input">
                                        <input type="number" min="0"
                                            value="<%= locals.old ? old.price : product.price %>" id="price"
                                            name="price" />
                                        <% if (locals.errors && errors.price) { %>
                                            <small class="text-danger">
                                                <%= errors.name.msg %>
                                            </small>
                                            <% } %>
                                    </div>

                                    <label for="discount">Descuento del producto</label>
                                    <div class="input">
                                        <input type="number" min="0"
                                            value="<%= locals.old ? old.discount : product.discount %>" id="discount"
                                            name="discount" />
                                    </div>

                                    <label for="brand">Marca</label>
                                    <div class="input">
                                        <input type="text" name="mark" id="brand"
                                            value="<%= locals.old ? old.mark : product.mark %>" />
                                        <% if(locals.errors && errors.mark) { %>
                                            <small class="text-danger">
                                                <%= errors.mark.msg %>
                                            </small>
                                            <% } %>
                                    </div>

                                    <label for="mainFeatures">Características principales</label>
                                    <div class="input">
                                        <textarea name="mainFeatures" id="mainFeatures" cols="30"
                                            rows="10"><%= locals.old ? old.mainFeatures : product.description %></textarea>
                                        <% if(locals.errors && errors.mainFeatures) { %>
                                            <small class="text-danger">
                                                <%= errors.mainFeatures.msg %>
                                            </small>
                                            <% } %>
                                    </div>
                                </div>

                                <div class="flex">
                                    <label for="categoria-form">Categoría</label>
                                    <div class="input">
                                        <select name="category" id="categoria-form">

                                            <option selected>
                                                Categorías
                                            </option>
                                            <!-- <option value="<%- product.category %>" selected>
                                                <%- product.category %>
                                            </option> -->

                                            <% categories.forEach(category=> { %>
                                                <option value="<%- category.id %>" <%- locals.old &&
                                                    old.category==category.id ? "selected" :
                                                    category.id==product.category ? `selected` : "" %>><%- category.name
                                                        %>
                                                </option>
                                                <% }) %>
                                        </select>
                                        <% if(locals.errors && errors.category) { %>
                                            <small class="text-danger">
                                                <%= errors.category.msg %>
                                            </small>
                                            <% } %>
                                    </div>

                                    <label for="subCategoria-form">Subcategoría</label>
                                    <div class="input">
                                        <input list="subCategoria-form" name="subcategory" placeholder="Gamer" />
                                        <datalist id="subCategoria-form">
                                            <option selected hidden>Subcategorias</option>
                                            <% subcategories.forEach(subcategory=> { %>
                                                <option value="<%- subcategory%>" <%- locals.old &&
                                                    old.subcategory==subcategory ? "selected" :
                                                    subcategory==product.subcategory ? `selected` : "" %>><%-
                                                        subcategory %>
                                                </option>
                                                <% }) %>
                                                    <% if (locals.errors && errors.subcategory) { %>
                                                        <small class="text-danger">
                                                            <%= errors.subcategory.msg %>
                                                        </small>
                                                        <% } %>
                                        </datalist>
                                        <% if(locals.errors && errors.subcategory) { %>
                                            <small class="text-danger">
                                                <%= errors.subcategory.msg %>
                                            </small>
                                            <% } %>
                                    </div>

                                    <label for="codigo">Código de producto</label>
                                    <div class="input">
                                        <input type="number" min="0" name="scanning"
                                            value="<%= locals.old ? old.scanning : product.scanning %>" id="codigo" />
                                    </div>

                                    <label for="stock">Stock</label>
                                    <div class="input">
                                        <input type="number" min="0" name="stock"
                                            value="<%= locals.old ? old.stock : product.stock %>" id="stock" />
                                    </div>


                                    <label for="description">Descripción del producto</label>
                                    <div class="input">
                                        <textarea name="description" id="description" cols="30"
                                            rows="10"><%= locals.old ? old.description :  product.description %></textarea>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="btn-publish">
                            <button class="publish" type="button"><a href="../">Cancelar</a></button>
                            <button class="publish" type="submit">Guardar</button>
                        </div>
                    </section>
                </form>
            </main>
            <script src="/js/prevDeImg.js" defer></script>
    </body>

</html>