<!DOCTYPE html>
<html lang="en">
<%- include('../partials/head')%>

    <body>
        <%- include('../partials/header')%>
            <main class="userProfile">
                <form id="formPro" action="/profile/editprofile/<%= user.id %>?_method=PUT" method="POST"
                    enctype="multipart/form-data">
                    <div class="profile-container">
                        <div style="width: fit-content;height: fit-content;display: contents;" alt="">
                            <div class="fileInputz">
                                <p>Subir foto de perfil</p>
                                <input type="file" name="avatar" id="examinar">
                            </div>
                            <span class="error-message" id="errorMsg"></span>
                        </div>
                        <div class="inputs-container">
                            <div class="profileData">
                                <div class="form">
                                    <h3 class="profile-title">Datos personales</h3>
                                    <div class="input-container">
                                        <input class="input-style" id="userPro" type="text" name="user" placeholder="usuario"
                                           value="<%= user.user ? user.user : "" %>">
                                        <% if (locals.errors && errors.user) { %>
                                            <span class="error-message"><%= errors.user.msg %></span>
                                            <% } %>
                                            <span class="error-message" id="userErrorPro"></span>
                                    </div>
                                    <div class="form">
                                        <div class="input-container">
                                            <input class="input-style" type="text" name="name" placeholder="nombre"
                                                value="<%= user.name ? user.name : "" %>">
                                            <% if (locals.errors && errors.name) { %>
                                                <span class="error-message">
                                                    <%= errors.name.msg %>
                                                </span>
                                                <% } %>
                                        </div>
                                    </div>
                                    <div class="form">
                                        <div class="input-container">
                                            <input class="input-style" type="text" name="lastName"
                                                placeholder="apellido"
                                                value="<%= user.lastName ? user.lastName : "" %>">
                                            <% if (locals.errors && errors.lastName) { %>
                                                <span class="error-message">
                                                    <%= errors.lastName.msg %>
                                                </span>
                                                <% } %>
                                        </div>
                                    </div>
                                    <div class="form">
                                        <div class="input-container">
                                            <input class="input-style" type="email" name="email" placeholder="email"
                                                readonly value="<%= user.email %>">
                                            <% if (locals.errors && errors.email) { %>
                                                <span class="error-message">
                                                    <%= errors.email.msg %>
                                                </span>
                                                <% } %>
                                        </div>
                                    </div>
                                    <div class="form">
                                        <div class="input-container">
                                            <input class="input-style" type="text" name="telephone"
                                                placeholder="telefono"
                                                value="<%= user.telephone ? user.telephone : "" %>">
                                            <% if (locals.errors && errors.telephone) { %>
                                                <span class="error-message">
                                                    <%= errors.telephone.msg %>
                                                </span>
                                                <% } %>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="profileDatax">
                                <div class="form">
                                    <h3 class="profile-title">Datos de contacto</h3>
                                    <div class="input-container">
                                        <input class="input-style" type="text" name="address" placeholder="direccion"
                                        <% if (user.addressesId != null) { %>
                                            value="<%= user.Addresse.address ? user.Addresse.address : "" %>">
                                            <% } else { %>
                                                value="">
                                            <% } %>   
                                            
                                        <% if (locals.errors && errors.address) { %>
                                            <span class="error-message">
                                                <%= errors.address.msg %>
                                            </span>
                                            <% } %>
                                    </div>
                                    <div class="form">
                                        <div class="input-container">
                                            <input class="input-style" type="text" name="state"
                                                placeholder="estado"
                                                <% if (user.addressesId != null) { %>
                                                    value="<%= user.Addresse.state ? user.Addresse.state : "" %>">
                                                    <% } else { %>
                                                        value="">
                                                    <% } %>   
                                            <% if (locals.errors && errors.state) { %>
                                                <span class="error-message">
                                                    <%= errors.state.msg %>
                                                </span>
                                                <% } %>
                                        </div>
                                    </div>
                                    <div class="form">
                                        <div class="input-container">
                                            <input class="input-style" type="text" name="city"
                                                placeholder="ciudad"
                                                <% if (user.addressesId != null) { %>
                                                    value="<%= user.Addresse.city ? user.Addresse.city : "" %>">
                                                    <% } else { %>
                                                        value="">
                                                    <% } %> 
                                            <% if (locals.errors && errors.city) { %>
                                                <span class="error-message">
                                                    <%= errors.city.msg %>
                                                </span>
                                                <% } %>
                                        </div>
                                    </div>
                                    <div class="form">
                                        <div class="input-container">
                                            <input class="input-style" type="text" name="country"
                                                placeholder="pais"
                                                <% if (user.addressesId != null) { %>
                                                    value="<%= user.Addresse.country ? user.Addresse.country : "" %>">
                                                    <% } else { %>
                                                        value="">
                                                    <% } %> 
                                            <% if (locals.errors && errors.country) { %>
                                                <span class="error-message">
                                                    <%= errors.country.msg %>
                                                </span>
                                                <% } %>
                                        </div>
                                    </div>
                                    <div class="form">
                                        <div class="input-container">
                                            <input class="input-style" type="text" name="postalCode"
                                                placeholder="codigo postal"
                                                <% if (user.addressesId != null) { %>
                                                    value="<%= user.Addresse.postalCode ? user.Addresse.postalCode : "" %>">
                                                    <% } else { %>
                                                        value="">
                                                    <% } %> 
                                                    <% if (locals.errors && errors.postalCode) { %>
                                                <span class="error-message">
                                                    <%= errors.postalCode.msg %>
                                                </span>
                                                <% } %>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                        <div>
                            <span class="error-message" id="submitErrorPro"></span>
                            <button id="btn-submit2" type="submit" style="color: white" class="btn btn-submit">Guardar
                                Datos</button>
                        </div>
                    </div>
                </form>
            </main>
            <%- include('../partials/footer')%>
    </body>

</html>